<div class="main-parent">
  {%- paginate collection.products by 4 -%}
    {% for block in section.blocks %}
      <div class="block-main">
        <div class="block-title">
          {{ block.settings.title_block }}
        </div>
        <div class="block-desc">
          {{ block.settings.desc_block }}
        </div>
      </div>
    {% endfor %}
    {% render 'pagination', paginate: paginate, anchor: '' %}
  {% endpaginate %}
</div>

{% schema %}
  {
    "name": "block-pagination",
    "settings": [],
     "blocks": [
    {"type": "text",
     "name": "block-page",
      "settings": [{
          "type": "text",
          "id": "title_block",
          "label": "Title"
        },{
          "type": "text",
          "id": "desc_block",
          "label": "Description"
        }]
    }],
     "presets": [
  {
    "name": "block-pagination","blocks": [
      {
         "type":"text"
      }
    ]
  }
]
  }
{% endschema %}
