<div class="coming-soon-title">
  <h1>{{ section.settings.title }}</h1>
  {% if section.settings.collection != blank %}
    <div class="collection-grid">
      {%- for product in section.settings.collection.products %}
        <div class="item">
          <div class="quick-add-btn">
            <div class="image">
              <img src="{{product.featured_media | img_url: '' }} " class="primary-image">
              {% if product.media.size > 1 %}
                <img src="{{ product.media[1] | img_url: '' }}" class="secondary-image">
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
{% schema %}
{
  "name": "Coming-Soon",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Coming-Soon"
    }
  ]
}
{% endschema %}
