<div class="coming-soon-title">
  <h1>{{ section.settings.title }}</h1>
</div>
{% if customer.tags contains 'Shop' %}
  hello
{% endif %}
{% schema %}
{
  "name": "Coming-Soon",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    }
  ],
  "presets": [
    {
      "name": "Coming-Soon"
    }
  ]
}
{% endschema %}
