{{ collection.url }}

<div class="related-collection">
  <div class="width-collection">
    <h2>Related Collections</h2>
    <div class="related-collection" id="custom-collection"></div>
  </div>
</div>

<script>
  fetch(window.Shopify.routes.root + "recommendations/collections.json?collection_id=479135465750")
    .then(response => response.json())
    .then(({ collection }) => {
      console.log(collection,"collection")
    }
  );
</script>

{% schema %}
{
  "name": "Custom-related-collection",
  "settings": [],
   "presets": [
  {
    "name": "custom-related-collection"
  }]
}
{% endschema %}
