<div class="related-collection">
  <div class="width-collection">
    <h2>Related Collections</h2>
    <div class="related-collection" id="custom-collection"></div>
  </div>
</div>

<script>

function buildBlock(collection) {

  const html = `
    <a class="related-collection" href="${collection.url}"  id="custom-collection2">
      <img src="${collection.images[0]}" />
      <h3>${collection.title}</h3>
    </a>
  `

  return html
}


  
  fetch(`${window.Shopify.routes.root}collections.json?collection_id={{ collection.id }}`)
  .then(response => response.json())
  .then(data => {
    products.forEach(product => {
      const html = buildBlock(product)
      document.querySelector('.related-product').innerHTML += html
    })
  })
</script>

{% schema %}
{
  "name": "Custom-related-collection",
  "settings": [],
   "presets": [
  {
    "name": "custom-related-collection"
  }]
}
{% endschema %}
