<div class="related">
  <div class="width">
    <h2>You may like:</h2>
    <div class="custom-related-products"></div>
  </div>
</div>
{% if cart.item_count > 0 %}
  {% assign relatedid = cart.items[0].product_id %}
{% else %}
  {% assign relatedid = 48903798325526 %}
{% endif %}

<script>
    fetch(window.Shopify.routes.root + "recommendations/products.json?product_id={{relatedid}}&limit=3")
    .then(response => response.json())
    .then(({ products }) => {
     console.log(products,"products")
    }
  );
</script>
{% schema %}
{
  "name": "custom-related-products",
  "settings": [],
   "presets": [
    {
      "name": "custom-related-products"
    }
  ]
}
{% endschema %}
