<div class="related">
  <div class="width"></div>
  <h2>You may like:</h2>
  <div class="custom-related-products"></div>
</div>
{% schema %}
{
  "name": "custom-related-products",
  "settings": [],
   "presets": [
    {
      "name": "custom-related-products"
    }
  ]
}
{% endschema %}
