<div class="custom-related-collection">Related Collection</div>

{% schema %}
{
  "name": "Custom-related-collection",
  "settings": [],
   "presets": [
  {
    "name": "custom-related-collection"
  }]
}
{% endschema %}
