{{ collection }}

<div class="related-collection">
  <div class="width-collection">
    <h2>Related Collections</h2>
    <div class="related-collection" id="custom-collection"></div>
  </div>
</div>

<script>
fetch(window.Shopify.routes.root + "collections.json?collections_id=479135465750")
  .then(response => response.json())
  .then(({ collection }) => {
    console.log(collection,"collection")
    if (collection.length > 0) {
      const firstRecommendedcollection = collection[0];

      alert(
        `The title of the first recommended product is: ${firstRecommendedcollection}`
      );
    }
  }
);
</script>

{% schema %}
{
  "name": "Custom-related-collection",
  "settings": [],
   "presets": [
  {
    "name": "custom-related-collection"
  }]
}
{% endschema %}
