<div class="custom-related-collection">Related Collection</div>
{{ collection.url }}

<div class="related-collection">
  <div class="width-collection">
    <h2>Recommendations</h2>
    <div class="related-collection" id="custom-collection"></div>
  </div>
</div>

{% schema %}
{
  "name": "Custom-related-collection",
  "settings": [],
   "presets": [
  {
    "name": "custom-related-collection"
  }]
}
{% endschema %}
