<div class="related">
  <div class="width">
    <h2>{{ section.settings.heading }}</h2>

    <div class="related-products"></div>
  </div>
</div>

{% if cart.item_count > 0 %}
  {% assign relatedId = cart.items[0].product_id %}
{% else %}
  {% assign relatedId = 48903798325526 %}
{% endif %}

<script>
  

function buildBlock(product) {

  const html = `
    <a class="related-product" href="${product.url}">
      <img src="${product.images[0]}" />
      <h3>${product.title}</h3>
      <span>${product.price}</spa
    </a>
  `

  return html
}

fetch(window.Shopify.routes.root + "recommendations/products.json?product_id={{ relatedId }}&limit=3")
  .then(response => response.json())
  .then(({ products }) => {
    products.forEach(product => {
      console.log(products);
      const html = buildBlock(product)
      document.querySelector('.related-products').innerHTML += html
    })
  }
);
</script>

{% schema %}
{
  "name": "Related products",
  "settings": [
    {
      "type": "text",
      "label": "Heading",
      "id": "heading",
      "default": "You may also like"
    }
  ],
  "presets": [
    {
      "name": "Related products"
    }
  ]
}
{% endschema %}
