<div class="related">
  <div class="width">
    <h1>You may like:</h1>
    <div class="related-products"></div>
  </div>
</div>
{% if cart.item_count > 0 %}
  {% assign relatedid = cart.items[0].product_id %}
{% else %}
  {% assign relatedid = 9556924432662 %}
{% endif %}

<script>
  
function buildBlock(product){
 const html = `<a class="related-products" href='${product.url}'>
 <img src='${product.images[0]}' />
 <h3>${product.title}</h3>
 <span>${product.price}</span>                                                                                                             
 </a>
 `
  return html
}
  
    fetch(window.Shopify.routes.root + "recommendations/products.json?product_id={{relatedid}}")
    .then(response => response.json())
    .then(({ products }) => {
      console.log(products)
        products.forEach(product=>{
          const html = buildBlock(product)
          document.querySelector(".related-products").innerHTML =+ html
          
        })
    }
  );
</script>
{% schema %}
{
  "name": "custom-related-products",
  "settings": [],
   "presets": [
    {
      "name": "custom-related-products"
    }
  ]
}
{% endschema %}
