<div class="main">
  <div class="title-1">
    <h1>{{ section.settings.title }}</h1>
  </div>
  <div class="desc">
    <p>{{ section.settings.Description }}</p>
  </div>
  <div class="btn1">
    <a href="{{ section.settings.button_link1 }}">
      <button class="button">{{ section.settings.button_text1 }}</button></a
    >
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
       {
        "type": "text",
        "id": "Description",
        "label": "Description"
      }],
   "presets": [
    {
      "name": "FAQ"
    }
  ]
}
{% endschema %}
