<div class="faq-title">
  <div class="faq-sub-title">
    <h1>{{ section.settings.title }}</h1>
  </div>
  <div class="faq-desc">
    <p>{{ section.settings.Description }}</p>
  </div>
</div>

{% schema %}
{
  "name": "FAQ",
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
       {
        "type": "text",
        "id": "Description",
        "label": "Description"
      }],
   "presets": [
    {
      "name": "FAQ"
    }
  ]
}
{% endschema %}
