<div id="spin-to-win" class="spin-popup">
  <div class="wheel-container">
    <canvas id="wheel-canvas" width="500" height="500"></canvas>
    <button id="spin-button">Spin</button>
  </div>
  <div id="prize-result" class="result"></div>
  <button id="close-popup">Close</button>
</div>

{% schema %}
  {
    "name": "Spin to Win",
    "settings": []
  }
{% endschema %}