<div class="product-test-card">
  <div class="product-title">{{ section.settings['product-title'] }}</div>
  <div class="product-image"><img src="{{ section.settings.image_product | img_url: '' }}"></div>
  <a href="{{ section.settings.btn_link }}">
    <button class="product-btn-test">{{ section.settings.btn_test }}</button></a
  >
</div>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
  ],
   "presets": [
  {
    "name": "Testiminial"
  }
]
}
{% endschema %}
