<div class="product-title">{{ section.settings['product-title'] }}</div>
<div class="product-image"><img src="{{ section.settings.image_product }}"></div>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
     {
          "type": "text",
          "id": "product-title",
          "label": "Title"
        },
     {
  "type": "image_picker",
  "id": "image_product",
  "label": "Image"
},
  ],
   "presets": [
  {
    "name": "Testiminial"
  }
]
}
{% endschema %}
