<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css"
  integrity="sha512-QKC1UZ/ZHNgFzVKSAhV5v5j73eeL9EEN289eKAEFaAjgAiobVAnVv/AGuPbXsKl1dNoel3kNr6PYnSiTzVVBCw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
>
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/fonts/Simple-Line-Icons.eot">
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/fonts/Simple-Line-Icons.svg">
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/fonts/Simple-Line-Icons.ttf">
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/fonts/Simple-Line-Icons.woff">
<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/fonts/Simple-Line-Icons.woff2">
<div class="product-test-card">
  {% for test in shop.metaobjects.card.values %}
    <div class="main-test">
      <div class="product-title">{{ test.name }}</div>
      <div class="product-image"><img src="{{ test.image | img_url: '100x100' }}"></div>
      <a href="{{ test.system.url }}"> <button class="product-btn-test">Show More</button></a>
    </div>
  {% endfor %}
  <div class="convertcmtoinch">
    <span class="label-inch">Inches</span>
    <label class="switch">
      <input type="checkbox" id="toggleConvert">
      <span class="slider round"></span>
    </label>
    <span class="label-cm">CM</span>
    <br>
    {% assign value = 5 %}
    <div id="value">{{ value }} Inches</div>
  </div>
  <span class="material-symbols-outlined"> arrow_forward </span>
  <i class="lni lni-arrows-horizontal"></i>
</div>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
  ],
   "presets": [
  {
    "name": "Testimonial"
  }
]
}
{% endschema %}
