<div class="product-test-card">
  {% for test in shop.metaobjects.card.values %}
    <div class="main-test">
      <div class="product-title">{{ test.name }}</div>
      <div class="product-image"><img src="{{ test.image | img_url: '100x100' }}"></div>
      <a href="{{ test.system.url }}"> <button class="product-btn-test">Show More</button></a>
      <button id="ConvertInchCm">Convert to CM</button>
      <div id="value">1</div>
    </div>
  {% endfor %}
</div>
<script>
     $("#ConvertInchCm").click(function(e){
      e.stopPropagation();
      var val = $('#value').text()
      if(($(this).text() == "Convert to CM"))
      {
           $("#value").text(val*2.54);
           $(this).text("Convert to Inches");
      }
      else
      {
          $("#value").text(val/2.54);
          $(this).text("Convert to CM");
      }
  });
</script>
{% schema %}
{
  "name": "Testimonial",
  "settings": [
  ],
   "presets": [
  {
    "name": "Testimonial"
  }
]
}
{% endschema %}
