<div class="product-test-card">
  <div class="product-title"></div>
  <div class="product-image"><img src=""></div>
  <a href=""> <button class="product-btn-test"></button></a>
</div>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
  ],
   "presets": [
  {
    "name": "Testiminial"
  }
]
}
{% endschema %}
