<div class="product-test-card">
  {{ shop.metaobjects.card.values | json }}
  {% for test in shop.metaobjects.card.values %}
    <div class="product-title">{{ test.name }}</div>
    <div class="product-image"><img src="{{ test.image | img_url: '100x100' }}"></div>
    <a href="{{ test.url }}"> <button class="product-btn-test">Show More</button></a>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
  ],
   "presets": [
  {
    "name": "Testimonial"
  }
]
}
{% endschema %}
