<div class="product-test-card">
  {{ shop.metaobjects.card.values | json }}
  <!--
    <div class="product-title"></div>
    <div class="product-image"><img src=""></div>
    <a href=""> <button class="product-btn-test"></button></a>
  -->
</div>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
  ],
   "presets": [
  {
    "name": "Testimonial"
  }
]
}
{% endschema %}
