<link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/fonts/Simple-Line-Icons.svg">

<div class="product-test-card">
  {% for test in shop.metaobjects.card.values %}
    <div class="main-test">
      <div class="product-title">{{ test.name }}</div>
      <div class="product-image"><img src="{{ test.image | img_url: '100x100' }}"></div>
      <hr style="width:50%;text-align:left;margin-left:0">
      <style>
        .vl {
          border-left: 1px solid #5e5e5e;
          height: 500px;
        }
      </style>
      <div class="vl"></div>
      <a href="{{ test.system.url }}"> <button class="product-btn-test">Show More</button></a>
    </div>
  {% endfor %}
  <div class="convertcmtoinch">
    <span class="label-inch">Inches</span>
    <label class="switch">
      <input type="checkbox" id="toggleConvert">
      <span class="slider round"></span>
    </label>
    <span class="label-cm">CM</span>
    <br>
    {% assign value = 5 %}
    <div id="value">{{ value }} Inches</div>
  </div>
</div>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
  ],
   "presets": [
  {
    "name": "Testimonial"
  }
]
}
{% endschema %}
