<div class="main-test">
  <h2>{{ section.settings.title }}</h2>
  <div class="product-image">
    <img
      src="{{ section.settings.image_with | img_url: '100x100' }}"
      class="testimonial-image-go"
      alt="Testimonial Image"
    >
  </div>
  <p>{{ section.settings.paragraph }}</p>
  <a class="button1" id="goBackButton" {{ section.settings.button_text }}>
    <button class="product-btn-test">Go Back</button></a
  >
</div>
<script>
  $(document).ready(function() {
    $('#goBackButton').on('click', function() {
      window.history.back();
    });
  });
</script>

{% schema %}
{
  "name": "codecrew Testimonial",
  "settings": [
    {
      "type": "text",
      "label": "Title",
      "id": "title",
      "default": "Welcome to Custom Selection"
    },
    {
  "type": "image_picker",
  "id": "image_with",
  "label": "Image"
},

    {
  "type": "richtext",
  "id": "paragraph",
  "label": "Paragraph"
},
    {
      "type": "text",
      "label": "Button Text",
      "id": "button_text",
      "default": "Click me"
    }
  ],
   "presets": [
    {
      "name": "codecrew Testimonial",
      "category": "Custom"
    }
  ]
}
{% endschema %}
