<div class="product-title">{{ section.settings['product-title'] }}</div>

{% schema %}
{
  "name": "Testimonial",
  "settings": [
     {
          "type": "text",
          "id": "product-title",
          "label": "Title"
        },
  ],
   "presets": [
  {
    "name": "Testiminial"
  }
]
}
{% endschema %}
