.popup-overlay {
  background-color: #00000070;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999999;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  display: block;
  z-index: 1;
}
a#HeaderMenu-inails {
  color: #d8ade8;
}
.section-header {
  position: relative !important;
}
.switch {
  display: flex;
  align-items: center;
}

.switch input[type="checkbox"]:checked ~ .include {
  display: none;
}

.switch input[type="checkbox"]:checked ~ .exclude {
  display: block;
}

.switch input[type="checkbox"]:not(:checked) ~ .include {
  display: block;
}

.switch label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  margin: 0 10px;
  display: inline-block;
}

.switch label::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.switch input[type="checkbox"]:checked + label {
  background: blue;
}

.switch input[type="checkbox"]:checked + label::after {
  left: 22px;
}
.switch input#toggleAll {
  display: none;
}

.includevat {
  display: none;
}
.compareincludevat {
  display: none;
}
.regularwithvat {
  display: none;
}

/* //4th level megamenu css ------------------------*/
.sub-menu ul.list-unstyled {
  display: grid !important;
}

.sub-menu .mega-menu[open] .mega-menu__content {
  display: contents;
}

.sub-menu {
  display: none;
  background: #dfdfdf;
  position: absolute;
  top: 100%;
  z-index: 999999;
}

.icon-caret {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.icon-caret.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icon-caret.down + .sub-menu {
  display: block;
}
.icon-caret {
  position: relative;
  height: 0.6rem;
  cursor: pointer;
}

.custom-header {
  background-color: #f8f8f8;
  padding: 10px 0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation .main-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;

  width: 100%;
  gap: 10px;
  padding: 15px;
  text-transform: capitalize;
}

.header-navigation .main-nav ul li {
  margin-right: 20px;
}

.header-navigation .main-nav ul li a {
  text-decoration: none;
  color: #333;
}

.header-search .search-form {
  display: flex;
  align-items: center;
}

.header-search .search-input {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 3px;
}

.header-search .search-button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.header-search .icon-search:before {
  content: "\f002";
  font-family: FontAwesome;
}
@media only screen and (max-width: 768px) {
  .header-inner {
    width: 153px;
    height: 50px;
  }
  .header-navigation {
    width: 100%;
    height: 100%;
  }
  nav {
    height: 65px;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 25px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383f;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: 180px;
    height: 400px;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    display: block;
  }

  #menu li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
  .sub-menu {
    width: 100%;
  }
}
