.popup-overlay {
  background-color: #00000070;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999999;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  display: block;
  z-index: 1;
}
a#HeaderMenu-inails {
  color: #d8ade8;
}
.section-header {
  position: relative !important;
}
.switch {
  display: flex;
  align-items: center;
}

.switch input[type="checkbox"]:checked ~ .include {
  display: none;
}

.switch input[type="checkbox"]:checked ~ .exclude {
  display: block;
}

.switch input[type="checkbox"]:not(:checked) ~ .include {
  display: block;
}

.switch label {
  cursor: pointer;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  margin: 0 10px;
  display: inline-block;
}

.switch label::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.switch input[type="checkbox"]:checked + label {
  background: blue;
}

.switch input[type="checkbox"]:checked + label::after {
  left: 22px;
}
.switch input#toggleAll {
  display: none;
}

.includevat {
  display: none;
}
.compareincludevat {
  display: none;
}
.regularwithvat {
  display: none;
}
.custom-related .grid__item {
  list-style-type: none;
}
/* //4th level megamenu css ------------------------*/
.sub-menu ul.list-unstyled {
  display: grid !important;
}

.sub-menu .mega-menu[open] .mega-menu__content {
  display: contents;
}
.megamenu4-title a {
  font-family: cursive;
  text-decoration: none;
}

.sub-menu {
  display: none;
  background: #dfdfdf;
  position: absolute;
  top: 100%;
  z-index: 999999;
}

.icon-caret {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.icon-caret.down {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icon-caret.down + .sub-menu {
  display: block;
}
.icon-caret {
  position: relative;
  height: 0.6rem;
  cursor: pointer;
}

.custom-header {
  background-color: #f8f8f8;
  padding: 10px 0;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation .main-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 10px;
  padding: 15px;
  text-transform: capitalize;
}

.header-navigation .main-nav ul li {
  margin-right: 20px;
}

.header-navigation .main-nav ul li a {
  text-decoration: none;
  color: #333;
}

.header-search .search-form {
  display: flex;
  align-items: center;
}

.header-search .search-input {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 3px;
}

.header-search .search-button {
  background: none;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.header-search .icon-search:before {
  content: "\f002";
  font-family: FontAwesome;
}
#menuToggle input {
  display: none;
}
@media only screen and (max-width: 768px) {
  .sub-menu {
    position: relative;
    background: cornsilk;
  }
  .header-inner {
    width: 153px;
    height: 50px;
  }
  .header-navigation {
    width: 100%;
    height: 100%;
  }
  nav {
    height: 65px;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    left: 32px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span {
    display: flex;
    width: 20px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #5f412c;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 3px);
    background: #5f412c;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  #menu {
    position: absolute;
    width: max-content;
    height: max-content;
    margin: -50px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    display: block;
    background: cornsilk;
  }

  #menu li {
    padding: 10px 0;
    transition-delay: 2s;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}

/* related-products-----------------------> */

#custom-product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
#custom-product2 {
  text-decoration: none;
  text-align: center;
}
#custom-product2 img {
  border-radius: 16px;
  width: 80%;
}
#custom-product2 h3 {
  font-size: 15px;
  margin-bottom: 5px;
  color: #111;
}

#custom-product2 span {
  color: #5e5e5e;
  font-size: 12px;
}

/* related-collection-----------------------> */
#custom-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
#custom-collection2 {
  text-decoration: none;
  text-align: center;
}
#custom-collection2 img {
  border-radius: 16px;
  width: 80%;
}
#custom-collection2 h3 {
  font-size: 15px;
  margin-bottom: 5px;
  color: #111;
}

/* ----------------testimonial-------- */
.product-test-card {
  display: flex;
  justify-content: center;
}
.main-test {
  padding: 100px 50px;
  border: 1px solid #e5e5e5;
  margin: 30px;
  border-radius: 20px;
}
button.product-btn-test {
  color: white;
  background: #006fbb;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 5px;
}
/* --------------------------------togglebutton cm to inch */
/* .product-test-card .convertcmtoinch {
  display: flex;
  align-items: center;
}
 */
.convertcmtoinch .label-inch,
.label-cm {
  margin: 0 10px;
  font-size: 16px;
  font-weight: bold;
}

.convertcmtoinch .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.convertcmtoinch .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.convertcmtoinch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.convertcmtoinch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

.convertcmtoinch input:checked + .slider {
  background-color: #2196f3;
}

.convertcmtoinch input:checked + .slider:before {
  transform: translateX(26px);
}

.hr {
  width: 100%;
  text-align: left;
  margin: 0 auto;
}
.hr-val {
  text-align: center;
}
.vr-val {
  position: absolute;
  left: 11%;
  bottom: 40%;
  transform: rotate(270deg);
}
.vl {
  transform: rotate(270deg);
  position: relative;
  right: 54%;
  margin: 0 auto;
  bottom: 185px;
  width: 70%;
}

/* load more csss------------------------------------------------------> */
.load-more_spinner {
  height: 35px;
  width: 35px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #052e26;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.load-more {
  text-align: center;
}

/* lables on product -----------------------------> */

.ProductItem__Sizes {
  opacity: 0;
  margin-top: 5px;
  text-decoration: none;
  position: absolute;
  z-index: 9;
}

.practice:hover .ProductItem__Sizes {
  opacity: 1;
}

.Prod-title {
  display: inline-block;
  margin-right: 5px;
  padding: 2px 5px;
  background: #ddd;
  font-size: 11px;
  background-color: blue;
  color: white;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none;
}

.product-form__input.product-form__input--dropdown .select {
  display: block !important;
}
.discount1 {
  background-color: floralwhite;
  padding: 1px 20px;
  color: darkmagenta;
}
.discount2 {
  background-color: floralwhite;
  padding: 1px 20px;
  color: darkmagenta;
}
.new-label {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #e91e63;
  color: #fff;
  z-index: 10;
  border-radius: 4rem;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: uppercase;
  padding: 0.5rem 1.3rem 0.6rem;
  text-align: center;
  word-break: break-word;
}
.new-label2 {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: red;
  color: #fff;
  z-index: 10;
  border-radius: 4rem;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1;
  text-transform: uppercase;
  padding: 0.5rem 1.3rem 0.6rem;
  text-align: center;
  word-break: break-word;
}
.card__badge .badge {
  border-radius: 0;
  font-size: 13px;
  background-color: red;
  font-weight: bold;
  border: none;
}

.price .price__badge-sale {
  border-radius: 0;
  font-size: 13px;
  background-color: red;
  font-weight: bold;
  border: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
