div#CartDrawer {
  display: flex;
}

.cart-product-image .card-wrapper .card {
  display: contents !important;
}

.upsell-product {
  overflow: scroll;
  background-color: white;
  text-align: -webkit-center;
  padding: 35px 0px;
}
.custom-buy-btn {
  width: 60%;
}
